@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/animation.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* =============================================== STYLED SCROLLBAR */

.scrollbar-styled {
  scrollbar-color: #f5f5f5;
  scrollbar-width: thin;
}

.scrollbar-left {
  direction: rtl;
}

.scrollbar-left > * {
  direction: ltr;
}

.scrollbar-styled::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scrollbar-styled::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10px;
}

/* ============================================== HIDE SCROLLBAR */

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ============================================== HOVER SCROLLBAR */

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hover {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.scrollbar-hover:hover {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
}

.table-styled {
  @apply overflow-hidden text-background-900;
}

.table-styled tr {
  @apply hover:bg-primary-50 border-b-2 border-gray-200 h-10;
}

.table-styled th {
  @apply bg-background-100 text-xl  text-left font-thin p-4 uppercase h-10;
}

.table-styled td {
  @apply p-4 text-lg h-10;
}

.table-styled .tr-inactive {
  @apply hover:bg-white;
}
